<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="teacher/header::header-fragment"></head>-->
<head th:replace="teacher/header::header-fragment">
</head>

<body class="hold-transition skin-green-light sidebar-mini">

    <div class="wrapper">

        <!-- 页面头部 -->
        <!-- 引入页面头header-fragment -->
        <header th:replace="teacher/header::header-nav"></header>
        <!-- 页面头部 /-->

        <!-- 导航侧栏 -->
        <aside th:replace="teacher/sidebar::sidebar-fragment"></aside>
        <!--&lt;!&ndash; 导航侧栏 /&ndash;&gt;-->


        <!--内容区域-->
        <div class="content-wrapper">

            <!-- 内容头部 -->
            <section class="content-header">
                <h1>
                    作业情况
                </h1>
            </section>
            <!-- 内容头部 /-->

            <!-- 正文区域 -->
            <section class="content">

                <!-- .box-body -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">列表</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--&lt;!&ndash;工具栏&ndash;&gt;-->
                            <!--<div class="pull-left">-->
                                <!--<div class="form-group form-inline">-->
                                    <!--<div class="btn-group">-->
                                        <!--<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal"><i class="fa fa-file-o"></i>添加课程</button>-->
                                        <!--<button type="button" class="btn btn-default" id="deleteBtn"><i class="fa fa-trash-o"></i>删除课程</button>-->
                                        <!--<button type="button" class="btn btn-default" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->


                            <!--工具栏/-->

                            <!--数据列表-->
                            <!--数据列表-->
                            <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>作业名称</th>
                                    <th>作业介绍</th>
                                    <th>学生姓名</th>
                                    <th>学生提交时间</th>
                                    <th>分数</th>
                                    <th class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="homewordUpload: ${pageResult.content}">
                                        <td th:text="${homewordUploadStat.index+1}"></td>
                                        <td>[[${homewordUpload.homework.name}]]</td>
                                        <td th:text="${homewordUpload.homework.intro}"></td>
                                        <td th:text="${homewordUpload.student}"></td>
                                        <td>[[${#dates.format(homewordUpload.uploadTime, 'yyyy-MM-dd HH:mm')}]]</td>
                                        <td th:text="${homewordUpload.score}"></td>
                                        <td class="text-center">
                                            <a type="button" class="btn bg-block btn-primary">下载查看</a>
                                            <a type="button" class="btn bg-block btn-primary" th:onclick="editScore([[${homewordUpload.id}]])">修改分数</a>
                                        </td>
                                        <!-- /.modal -->
                                    </tr>
                                </tbody>
                            </table>
                            <!--数据列表/-->

                        </div>
                        <!-- 数据表格 /-->


                    </div>
                    <!-- /.box-body -->

                    <!-- .box-footer-->
                    <!--页码信息-->
                    <div class="box-footer">
                        <div class="pull-left">
                            <div class="form-group form-inline">
                                当前第 <b>[[${{pageResult.pageNum}}]]</b> 页，总共 <b>[[${pageResult.totalPages}]]</b> 页。共 <b>[[${pageResult.totalSize}]]</b> 条数据。
                            </div>
                        </div>

                        <!--不带参数查询的分页-->
                        <div class="box-tools pull-right">
                            <ul class="pagination">
                                <li>
                                    <a th:href="@{/teacher/homework}" aria-label="Previous">首页</a>
                                </li>
                                <li><a th:href="@{/teacher/homework(pageNum=${pageResult.pageNum}>1?${pageResult.pageNum}-1:1)}">上一页</a></li>

                                <li th:each="page:${#numbers.sequence(1, pageResult.totalPages)}">
                                  <a th:href="@{/teacher/homework(pageNum=${page})}">[[${page}]]</a>
                                </li>
                                <li><a th:href="@{/teacher/homework(pageNum=${pageResult.totalPages}>${pageResult.pageNum}?${pageResult.pageNum}+1:1)}">下一页</a></li>
                                <li>
                                    <a th:href="@{/teacher/homework(pageNum=${pageResult.totalPages})}" aria-label="Next">尾页</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                     <!--/.box-footer-->


                </div>

            </section>
            <!-- 正文区域 /-->

        </div>
        <!-- 内容区域 /-->
    </div>



    <script th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>
    <script th:src="@{/plugins/jQueryUI/jquery-ui.min.js}"></script>
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/plugins/raphael/raphael-min.js}"></script>
    <script th:src="@{/plugins/morris/morris.min.js}"></script>
    <script th:src="@{/plugins/sparkline/jquery.sparkline.min.js}"></script>
    <script th:src="@{/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js}"></script>
    <script th:src="@{/plugins/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
    <script th:src="@{/plugins/knob/jquery.knob.js}"></script>
    <script th:src="@{/plugins/daterangepicker/moment.min.js}"></script>
    <script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
    <script th:src="@{/plugins/daterangepicker/daterangepicker.zh-CN.js}"></script>
    <script th:src="@{/plugins/datepicker/bootstrap-datepicker.js}"></script>
    <script th:src="@{/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js}"></script>
    <script th:src="@{/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js}"></script>
    <script th:src="@{/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
    <script th:src="@{/plugins/fastclick/fastclick.js}"></script>
    <script th:src="@{/plugins/iCheck/icheck.min.js}"></script>
    <script th:src="@{/plugins/adminLTE/js/app.min.js}"></script>
    <script th:src="@{/plugins/treeTable/jquery.treetable.js}"></script>
    <script th:src="@{/plugins/select2/select2.full.min.js}"></script>
    <script th:src="@{/plugins/colorpicker/bootstrap-colorpicker.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.zh-CN.js}"></script>
    <script th:src="@{/plugins/bootstrap-markdown/js/bootstrap-markdown.js}"></script>
    <script th:src="@{/plugins/bootstrap-markdown/locale/bootstrap-markdown.zh.js}"></script>
    <script th:src="@{/plugins/bootstrap-markdown/js/markdown.js}"></script>
    <script th:src="@{/plugins/bootstrap-markdown/js/to-markdown.js}"></script>
    <script th:src="@{/plugins/ckeditor/ckeditor.js}"></script>
    <script th:src="@{/plugins/input-mask/jquery.inputmask.js}"></script>
    <script th:src="@{/plugins/input-mask/jquery.inputmask.date.extensions.js}"></script>
    <script th:src="@{/plugins/input-mask/jquery.inputmask.extensions.js}"></script>
    <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/plugins/datatables/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/plugins/chartjs/Chart.min.js}"></script>
    <script th:src="@{/plugins/flot/jquery.flot.min.js}"></script>
    <script th:src="@{/plugins/flot/jquery.flot.resize.min.js}"></script>
    <script th:src="@{/plugins/flot/jquery.flot.pie.min.js}"></script>
    <script th:src="@{/plugins/flot/jquery.flot.categories.min.js}"></script>
    <script th:src="@{/plugins/ionslider/ion.rangeSlider.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-slider/bootstrap-slider.js}"></script>
    <script th:src="@{/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.js}"></script>
    <script th:src="@{/plugins/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script>
        $(document).ready(function() {
            // 选择框
            $(".select2").select2();

            // WYSIHTML5编辑器
            $(".textarea").wysihtml5({
                locale: 'zh-CN'
            });
        });


        // 设置激活菜单
        function setSidebarActive(tagUri) {
            var liObj = $("#" + tagUri);
            if (liObj.length > 0) {
                liObj.parent().parent().addClass("active");
                liObj.addClass("active");
            }
        }


        $(document).ready(function() {
            // 激活导航位置
            setSidebarActive("teacher-homework");
        });


    // 列表按钮
        $("#dataList td input[type='checkbox']").iCheck({
            checkboxClass: 'icheckbox_square-blue',
            increaseArea: '20%'
        });
        // 全选操作
        $("#selall").click(function() {
            var clicks = $(this).is(':checked');
            if (!clicks) {
                $("#dataList td input[type='checkbox']").iCheck("uncheck");
            } else {
                $("#dataList td input[type='checkbox']").iCheck("check");
            }
            $(this).data("clicks", !clicks);
        });

        function editScore(id) {
            var score=prompt('请输入分数');
            var data={
                "score":score,
                "id":id
            }
            if (score!= null) {
                $.ajax({
                    url:"/teacher/editScore",
                    contentType : 'application/json;charset=utf-8',//缺少这个415
                    type:"post",
                    data: JSON.stringify(data),//缺少这个400
                    success:function (r) {
                        alert(r);
                        location.reload();
                    }
                });
            }else{
                alert("请输入分数!");
            }
        }
    </script>
</body>

</html>
<!---->